:root{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color:rgb(245, 245, 245);
}

body{
    background-color: #f7f7f7;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    
  }


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h2{
    font-weight: 400;
}
h1{
    font-weight: 410;
}

.container{
    margin: 30px auto;
    width: 450px;
}

.header{
    margin-bottom: 10px;
}

.line-height{
    line-height: 1;
}

.expense-display{
    display: flex;
    justify-content: space-around;
    box-shadow: rgb(122, 114, 114) 0px 0px 5px 1px;
    line-height: 0.5;
    padding: 20px;
    margin-top: 30px;
    margin-bottom:20px
}

.expense-display span{
    display: flex;
    justify-content: center;    
    font-size: 24px;
    margin-top:20px;
  
}

.income{
    color:rgb(6, 166, 240)
}
.expense{
    color:rgba(248, 24, 24, 0.678)
}

.divider{
    padding-bottom: 10px;
    font-size: 50px !important ;
    font-weight:1;
    color: rgba(161, 154, 154, 0.226);
}


.histroy-box {
    list-style-type: none;
    padding: 0;
    margin-bottom: 40px;
    
}

.histroy-box li{
    list-style: none;
    background-color: #fff;
    margin-top: 20px;
    padding: 15px 10px;
    box-shadow: grey 0 0 8px 0;
    display: flex;
    justify-content: space-between;
    position: relative;
    
}

 .red{
    border-right:red 4px solid
}
.green{
    border-right:green 4px solid
}
.delete{
    
    z-index: 1;
    position: absolute;
    background-color: red;
    padding: 0px 2px 1px 2px;
    font-weight: 800;
    color: #fff;
    font-size: 24px;
    left: -22px;
    top: 8px;
    opacity: 0; 
    transition: opacity ease 0.3s;  
    border:none
}

ul.histroy-box li:hover .delete{
   opacity: 1;
     
}

.delete:hover{
    cursor: pointer;

}

label{
    font-size: 22px;
    margin: 10px 0;
}

label span{
    font-size: 18px;
}
input[type='text'], input[type='number']{
    margin: 10px 0;
    width: 100%;
    padding: 15px 10px;
    box-shadow: 0 0 10px 0 rgba(73, 70, 70, 0.356);
    border: 1px solid rgba(177, 173, 173, 0.561);
    font-size: 17px;
}

.btn{
    width: 100%;
    padding: 15px 10px;
    border: none;
    margin:10px 0;
    background-color: rgba(255, 0, 170, 0.671);
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    box-shadow: 0 0 10px 0 rgba(73, 70, 70, 0.356); ;
}

.btn:hover{
    cursor: pointer;
    opacity: 0.9;
}